/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

/*.caption {*/
    /*height: 70px;*/
    /*overflow: hidden;*/
/*}*/

/*.caption h4 {*/
    /*white-space: nowrap;*/
/*}*/

/*.thumbnail img {*/
    /*width: 100%;*/
/*}*/

/*.ratings {*/
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
    /*color: #d17581;*/
/*}*/

/*.thumbnail {*/
    /*padding: 0;*/
/*}*/

/*.thumbnail .caption-full {*/
    /*padding: 9px;*/
    /*color: #333;*/
/*}*/

/*footer {*/
    /*margin: 50px 0;*/
/*}*/


