{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="row carousel-holder" style="height: 10%">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="{% static 'img/thKatxdfeA41-800x300.jpg' %}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{% static 'img/vybor-hrenenie-seldereya.jpg' %}"
                                         alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{% static 'img/182204_56184-640x480.jpg' %}" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <h2 style="text-align: center">О нас</h2>
                <hr>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h4 style="text-align: center">Информация о компании</h4>
                    </div>
                </div>
                <h2 style="text-align: center">Не давно добавленные салаты</h2>
                <hr>
                <div class="row">
                    {% for salati in salati %}
                      <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                          <img style="height: 200px" src="{{ salati.image.url }}" alt="...">
                          <div class="caption">
                            <h3>{{ salati.name |lower |truncatewords:2 }}</h3>
                            <p>Цена: {{ salati.price }} сом</p>
                            <p><a href="{% url 'salat_info' salati.id %}" class="btn btn-primary" role="button">Читать</a> <a href="#" class="btn btn-default" role="button">Заказать</a></p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>

        </div>
    </div>
    <div>
    </div>
{% endblock %}