{% extends 'base.html' %}
{% block content %}
    <div style="height: 150px; background-color: #a8a8a8; margin-bottom: 0%;" class="col-md-12">
        <h1 style="text-align: center">{{ salat.name }}</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10" style="margin-top: 2%; margin-bottom: 3%;">
    <div class="col-md-6">
        <img src="{{ salat.image.url }}">
    </div>
    <div class="col-md-6">
            {{ salat.about }}
    </div>
    </div>
{% endblock %}